{% extends 'app_django_javascript/base.html' %}

{% block link %}{% endblock link %}

{% block title %}Django & JS | DropDown{% endblock title %}

{% block style %}

    .card { margin-top: 5rem; }

{% endblock style %}

{% block content %}
<div class="container">
    <div class="card card-body">
        <form action="" method="post" id="orderForm" data-model-url="{% url 'ajax_load_models' %}">
            {% csrf_token %}
            {{ formset.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_car").change(function () {
        const url = $("#orderForm").attr("data-model-url");
        const carId = $(this).val();

        $.ajax({
        url: url,
            data: {
                'car_id': carId
            },
            success: function (data) {
                $("#id_model").html(data);
            }
        });

    });
</script>
{% endblock script %}
